[submodule "thirdparty/flatbuffers"]
	path = thirdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "thirdparty/nng"]
	path = thirdparty/nng
	url = https://github.com/nanomsg/nng.git
[submodule "thirdparty/cml"]
	path = thirdparty/cml
	url = https://github.com/demianmnave/CML.git
[submodule "thirdparty/crccpp"]
	path = thirdparty/crccpp
	url = https://github.com/d-bahr/CRCpp.git
[submodule "thirdparty/mbedtls"]
	path = thirdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
